body {
  background-image: url("https://world-clock-victoria.netlify.app/src/world.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin-top: ;
}

h2 {
  font-size: 35px;
  margin: 0;
}
select {
  display: block;
  width: 100%;
  border-radius: 4px;
  font-size: 17px;
  padding: 10px;
}
.container {
  background: rgba(255, 255, 255, 0.5);
  color: black;
  max-width: 600px;
  padding: 30px;
  margin: 30px auto;
  border-radius: 7px;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border: none;
  margin-bottom: 0;
}

.time {
  font-size: 40px;
  font-weight: bold;
}

.time small {
  font-size: 18px;
  vertical-align: middle;
}

footer {
  text-align: center;
  padding: 7px;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.5);
  color: black;
  max-width: 600px;
  border-radius: 7px;
  margin: 0 auto;
}
